
  <div>
    <div align="center">
    <br>
      <font class="titulo">Introducción</font>
      <br><br>
      <div class="listadoEntidades">      
        <b>Mi nombre es Nicolás Sebastián Franzese y paso a explicarte el sistema que estás utilizando: </b><br><br>    
        <b>Consta en trae 10 Entidades consumiendo una API. De esas Entidades podemos elegir 1 o más, y a medida que las vamos eligiendo se irán cargando en una tabla. </b><br>
        <b>En la tabla donde se encuentran las Entidades seleccionadas, podemos editar o eliminarlas a gusto. (estas modificaciones son a nivel Front)</b><br>
        <b>Contamos con filtros por Columnas y también con un ordenamientos, si clickeamos sobre el titulo de la columna a ordenar nos ordena de manera descendente, y si volvemos a clickear de manera ascendente.</b><br><br>
        <b>Te invito a que comiences a utilizar el sistema.</b><br><br>

        <button class="btn btn-success" (click)="Ingresar()"><i class="material-icons">Comenzar</i></button>
      </div>
    </div>
  </div>
